* {
  box-sizing: border-box;
}

body {
  padding: 20px 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
  color: #212121;
  line-height: 1.5;
}

p {
  margin-bottom: 30px;
}



input {
  margin-right: 30px;
  padding: 5px 5px;
  border: 1px solid rgb(177, 178, 178);
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  text-align: center;
}

input#datetime-picker {
  margin-right: 30px;
  padding: 10px 25px;
  border: 1px solid rgb(177, 178, 178);
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  text-align: center;
}

label {
  margin-bottom: 15px;
  width: 350px;
  display: flex;
  justify-content: space-between;

}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: 'Mitr', sans-serif;
}

button[data-start] {

  margin-right: 20px;
  padding: 10px 25px;

  border: none;
  background-color: rgb(231, 240, 249);
  border-radius: 8px;

  font-size: 20px;
  font-weight: 300;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

button[type="submit"] {
  margin-right: 20px;
  padding: 10px 25px;

  border: none;
  background-color: #fff;
  border-radius: 8px;

  font-size: 20px;
  font-weight: 300;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

button[data-start]:hover {}

button[data-stop] {
  padding: 10px 25px;
  border: none;
  background-color: rgb(231, 240, 249);
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

button[data-stop]:hover {}

.timer {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.field {
  width: 70px;
  text-align: center;
}

.value {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
  font-family: 'Mitr', sans-serif;
  font-size: 30px;
  color: crimson;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

/* .label {
  display: block;
  font-size: 18px;
} */